<%- include("partials/header")-%>


<section class="home" id="homeSection" >

<div class="heading">
<h1>NewAge Solution</h1>
</div>
<div class="info">
<h4 style="line-height:2.5;">We are a startup company who helps you to build and design website. We have a team of expert team of developers to make your website in a pinch. Sign Up today! </h4>
</div>


<div class="hireButton">
  <button  type="button" class="btn btn-outline-dark" style="margin-top:3%;">Hire Us</button>

</div>



</section>

<footer class="pt-3 mt-4 text-muted border-top footer">
  &copy; NewAge Solutions 2021
</footer>

<%- include("partials/footer")-%>
