<%- include("partials/header")-%>
<section class="pricing">


<div id="generic_price_table">
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="price-heading clearfix">
                        <h1>Our Pricing Plan</h1>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">


            <div class="row">
                <div class="col-md-4">


                    <div class="generic_content clearfix">


                        <div class="generic_head_price clearfix">


                            <div class="generic_head_content clearfix">


                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Personal Website</span>
                                </div>


                            </div>



                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">₹</span>
                                    <span class="currency">6000</span>

                                </span>
                            </div>


                        </div>



                        <div class="generic_feature_list">
                          <ul>
                              <li><span>1</span> Website</li>
                                <li><span>Multiple </span>Pages</li>
                                <li><span>Superbly</span> Designed</li>
                                <li><span>Host</span> Domain</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->

                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                          <a class="" href="">BUY NOW</a>
                        </div>
                        <!--//BUTTON END-->

                    </div>


                </div>

                <div class="col-md-4">


                    <div class="generic_content active clearfix">


                        <div class="generic_head_price clearfix">


                            <div class="generic_head_content clearfix">


                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>BUSINESS WEBSITE</span>
                                </div>


                            </div>



                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">₹</span>
                                    <span class="currency">8000</span>


                                </span>
                            </div>


                        </div>


                        <div class="generic_feature_list">
                          <ul>
                              <li><span>1</span> Website</li>
                                <li><span>Multiple</span> Pages</li>
                                <li><span>Awesomely</span> Designed</li>
                                <li><span> Host </span> Domain</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>

                        <div class="generic_price_btn clearfix">
                          <a class="" href="">BUY NOW</a>
                        </div>

                    </div>


                </div>
                <div class="col-md-4">


                    <div class="generic_content clearfix">


                        <div class="generic_head_price clearfix">


                            <div class="generic_head_content clearfix">


                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>PERSONAL & BUSINESS</span>
                                </div>


                            </div>


                            <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">₹</span>
                                    <span class="currency">12000</span>

                                </span>
                            </div>


                        </div>



                        <div class="generic_feature_list">
                          <ul>
                              <li><span>2</span> Wesbites</li>
                                <li><span>Multiple</span> Pagese</li>
                                <li><span>Awesomely </span> Designed</li>
                                <li><span>Host </span>  Domain</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>

                        <div class="generic_price_btn clearfix">
                          <a class="" href="">BUY NOW</a>
                        </div>


                    </div>

                </div>
            </div>


        </div>
    </section>

</div>
</section>


<%- include("partials/footer")-%>
